@import "../../../../../assets/partials/mixins";

.container-Stra4 {
  width: 80%;
  margin: auto;
  padding: 1em;
  .icon img {
    width: 50%;
  }

  .section-view1 {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    .wiew1-1 {
      h3 {
        color: $purple;
      }
    }

    .wiew1-2 {
      padding: 1em;
      font-weight: bold;
    }
  }

  .div-father {
    width: 100%;
    position: relative;
    .Stra4-section-view2 {
      display: flex;
      justify-content: space-around;
      color: $purple;
      background-color: $background-blue;
      border-radius: 15px;
      padding: 3em;
      position: relative;
      p {
        position: relative;
        padding-left: 1em;
        font-weight: bold;
        &::after {
          content: "";
          border: none;
          border-right: 2px $purple solid;
          height: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
    .border-purple {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 100%;
      height: 100%;
      border: $purple 1px solid;
      border-radius: 15px;
    }
  }
}

@include respond-to('small') {
  .container-Stra4 {
    width: 95%;

    .section-view1 {
      grid-template-columns: 100%;
    }

    .div-father {
      .Stra4-section-view2  {
        flex-direction: column;
        padding: 1em;
        p {
          margin: .5em 0;
          width: 100%;
        }
      }
    }
  }
}