@import "../../../../../assets/partials/mixins";

.container-Stra2 {
  width: 80%;
  margin: auto;
  padding: 1em;
  .icon img {
    width: 50%;
  }
  .section-view1 {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    .wiew1-1 {
      h3 {
        color: $background-blue;
      }
    }
    .wiew1-2 {
      padding: 1em; 
      p {
        font-weight: bold;
      }
    }
  }
    .div-father {
      width: 100%;
      position: relative;
      .section-view2 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 33%);
        justify-content: center;
        color: $purple;
        background-color: $background-blue;
        border-radius: 15px;
        padding: 3em;
        position: relative;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          padding-left: 1em;

          &::after {
            content: "";
            background-color: $purple;
            border: none;
            border-right: 2px $purple solid;
            height: 60%;
            position: absolute;
            left: 0;
            top: 20%;
            bottom: 0;
          }
        }
      }

      .border-purple {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 100%;
        height: 100%;
        border: $purple 1px solid;
        border-radius: 15px;
      }
    }

    @include respond-to('medium') {
      width: 90%;
    
      .section-view2 {
        p {
          font-size: 8px;
          position: relative;
          left: -10px;
        }
      }
    }
}