@import '../../assets/partials/mixins';

.our-team-container {
    @include flex-row(100%, 60%);
    
    .section {
        height: 100%;
        width: 50%;
        background-image: url('../../assets/svg/blue_background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .btn {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        width: 80px;

        @include flex-row();
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .btn.arr-left {
        .arrow_left {
            fill: $purple;
            transform: scale(1.2);
        }
    }

    .btn.arr-right {
        .arrow_right {
            fill: $purple;
            transform: scale(1.2);
        }
    }

    .slide-controls {
        width: 100%;
    }

    .icon {
        cursor: pointer;
    }

    .left {
        @include flex-column(50%, 100%);
        justify-content: center;
        align-items: center;
        position: relative;

        #profiles-card {
            position: absolute;
            bottom: 20%;
        }

        .slide-controls.mobile {
            display: none;
            z-index: 10;
            margin-left: -10px;

            .btn {
                width: 15%;
                height: 10%;
                margin: 0 auto;
            }

            span {
                width: 100px;
                height: 20px;
            }

            @include respond-to('small') {
                position: relative;
                display: -webkit-flex;
                display: flex;
                width: 100%;
                height: 50px;
                align-items: center;
            }
        }
    }

    .right {
        @include flex-column(50%, 100%);
        align-items: left;
        padding: 5% 10% 0 5%;

        .title {
            margin-bottom: 30px;
            text-transform: uppercase;

            h1 {
                letter-spacing: 5px;
                word-spacing: 5px;
            }
        }
        
        .desc {
            width: 75%;
            letter-spacing: 1px;
            line-height: 1.6em;
        }

        .fig-gestion-container {
            margin-top: 10%;
            width: 100%;
            height: 20%;
            position: relative;
            z-index: 2;
            padding: 0;
            left: -10px;

            img {
                position: absolute;
                display: block;
                top: -80px;
                left: -20px;
                width: 400px;
                height: 200px;
                z-index: 3;
            }

            span {
                z-index: 5;
                top: 0;
                left: 0;
                height: 50px;
                font-size: 26px;
                letter-spacing: 1px;
                width: 100%;
                padding: 5px 10px 0 20px;
                
                color: $white;
                position: absolute;
                font-weight: bold;
                display: block;
                text-transform: uppercase;
            }
        }

        .slide-controls.desktop {
            @include flex-row(100px, 50px);
            z-index: 10;
            margin-left: -30px;

            .summary {
                bottom: 0;
            }
        }
    }

    @include respond-to('large') {
        @include flex-column(100%, 100%);
        flex-direction: column-reverse;

        .section {
            width: 100%;
            height: 100%;
            padding: 5%;
        }

        .left {
            .shadow-content, .card-container {
                bottom: 15%;
                padding-left: 10%;
            }

            .summary {
                bottom: 0;
            }

            #profiles-card {
                bottom: 25%;
                transform: scale(.9);
            }
        }

        .right {
            .slide-controls.desktop {
                display: none;
            }
            .fig-gestion-container {
                width: 50%
            }
        }
    }

    @include respond-to('medium') {
        @include flex-column(100%, 80%);
    
        .section {
            width: 100%;
            padding: 2%;
        }

        .left {
            .shadow-content, .card-container {
                bottom: 15%;
                padding-left: 10%;
            }

            .summary {
                bottom: 0;
            }
        }

        .right {
            padding: 10%;
            .title {
                margin-top: 10px;
            }
            .slide-controls.desktop {
                display: none;
            }

            .desc {
                width: 80%;
                font-size : 14px;
            }

            .fig-gestion-container {
                width: 90%;
                left: -0px;

                img {
                    top: -80px;
                    left: -20px;
                    width: 200px;
                    height: 200px;
                    z-index: 3;
                }

                span {
                    font-size: 12px;
                    padding: 10px 5px 0px 0px;
                }
            }
        }
    }

    @include respond-to('small') {
        @include flex-column(100%, 100%);
        .left #profiles-card {
            bottom: 30%;
        }
    }
}
