@import '../../../assets/partials/mixins';
@import '../../../assets/partials/variables';

.profile-container {
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -20px;
    top: -60px;

    .slide { 
        position: absolute;
        top: 10%;
        height: 200px;
        width: 200px;
        opacity: 0;
        transition-duration: 1s ease;
    }

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }

    @include respond-to('small') {
        .profile-container {
            position: relative;
            top: -20%;
            left: 0%;
        }
    }
}