@import '../../assets/partials/mixins';
@import '../../assets/partials/variables';

.contact-container {
	@include content(100%, $white);    
	min-height: 100vh;
	width: 100%;
	align-items: center;
	position: relative;
	z-index: 1;
	min-height: 1250px;
	
	.content {
		@include flex-column();
		
		align-items: center;
		z-index: 3;
		position: relative;
		min-height: 500px;
	}

	.container-body {
		width: 90%;
		.text-complete {
			text-align: center;
		}

		.text-complete p {
			color: $purple;
			font-weight: 300;
		}
		
	}

	.text {
		line-height: 2.2em;
	}

	.highlight {
		font-size: 28px;
	}

	.materializar { 
		margin-top: 50px;
		width: 30%;
		margin: 50px auto;
		font-weight: bold;
		line-height: 1.8em;
	}

	.circle {
		position: relative;
		top: 0;

		.icon {
			width: 150px;
			height: 100px;
			.cls-1 {
				fill: $red;
			}
	
			.cls-2 {
				fill: $purple;
			}
		}
	}

	.text-complete-firts {
		width: 100%;
		text-align: center;
		padding: 0 10%;
	}

	p {
		font-size: 1rem;
		letter-spacing: 5px;
		word-spacing: 5px;

		strong {
			font-size: 1.2em;
		}
	}

	.shadow-circle {
		background-image: url('../../assets/svg/blue_background.svg');
		position: absolute;
		width: 100%;
		height: 1600px;
		bottom: -800px;
	}

	.inside-circle {
		z-index: 5;
		position: absolute;
		bottom: 10%;
		width: 80%;
		left: 10%;
		height: 50%;

		.grid-form {
			display: flex;
			justify-content: center;
			margin-bottom: 2em;
	
			.form-section {
				display: flex;
				flex-direction: column;
				margin: 0 2%;
				width: 25%;
	
			label {
					font-size: 14px;
					font-weight: 600;
					margin: 10px 0;
					color: $purple;
					text-transform: capitalize;
				}
			}
		}

		& .error {
			font-size: 10px;
			color: $red;

			&.policy {
				text-align: center;
				margin-top: 1%;
			}
		}

		.submit-style {
			margin-top: 2em;
			text-align: center;
			margin: 10px;
			position: relative;

			& .loading-container {
				position: absolute;
				right: 48.5%;
				top: 1.7rem;

				& .loader {
					position: relative;
					display: inline-block;
					border: 5px solid #fff;
					border-top: 5px solid $red;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					animation: spin 2s linear infinite;
				}	
			}

			input {
				background-color: $purple;
				outline: none;
				border: none;
				padding: 15px 30px;
				border-radius: 20px;
				color: #fff;
				cursor: pointer;
				width: 160px;
				position: relative;
				top: 20px;
				@include bo-shadow();

				transition: all .2s ease-in-out;

				&:enabled:hover {
					transform: scale(.95);
				}
				&:disabled {
					opacity: 0.7;
				}
			}
		}
	}

	.contact-form {
		height: 100%;
		padding:  0 10%;

		h2 {
			text-align: center;
			color: $red;
			margin-bottom: 2em;
			font-size: 2.5em;
			margin-top: 100px;
		}
	}

	.text-complete-second {
		margin-bottom: 2em;
	}

	.container-body .text-complete p span {
		font-weight: bold;
	}

	.check-style {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	input[type="text"],
	input[type="number"],
	input[type="email"] {
		border: none;
		background-color: transparent;
		outline: none;
		border-bottom: 1px solid ;
		margin-bottom: 1em;
	}

	.form-section label {
		font-size: 0.7em;
		color: $purple;
	}

	.check-style label {
		font-size: 0.7em;
		color: $purple;
	}
	
	.check-style input {
		margin-right: 5px;
	}

	.style-icons {
		text-align: center;
		position: relative;
		top: 30px;
	}


	.style-icons a i {
		@include bo-shadow();
		color: $red;
		margin: 50px 10px 10px 10px;
		font-size: 1.5em;
		border: 1px solid;
		padding: 5px 10px;
		border-radius: 10px;
		transition: 0.1s ease-in-out;
	}

	.style-icons a:nth-child(2) i {
	padding: 5px 7px;
	}

	.style-icons a i:hover {
	color: $white;
	}

	@include respond-to('medium') {
		.shadow-circle {
			width: 100%;
			height: 1400px;
			bottom: -700px;
			left: 0;
		}

		.contact-form h2 {
			font-size: 32px;
		}
	}

	@include respond-to('small') {
		min-height: 1100px;
		p {
			font-size: 12px;
		}

		.contact-form h2 {
			font-size: 28px;
		}

		.shadow-circle {
			display: none;
		}

		.highlight {
			font-size: 18px;
		}
		
		.inside-circle {
			width: 100%;
			left: 0;
			bottom: 20%;

			.grid-form {
				flex-direction: column;
				justify-content: center;
				align-items: center;
	
				.form-section {
					width: 60%;
					margin: 0 20px;
					
					label {
						font-size: 12px;
					}
				}
			}
		}

		.materializar {
			width: 100%;
		}
	}
}
